<h3 class="mb-4">Order creation</h3>

<div class="form-group">
  <label class="h2">Title:</label>
  <input type="text" class="form-control" name="orderTitle" placeholder="Enter order title..." required
         minlength="5" maxlength="50" size="50" [(ngModel)]="orderTitle">
</div>

<h4 class="mt-4">Choose meals:</h4>
<div class="d-flex flex-column" *ngFor="let meal of meals">
  <div class="align-content-center">
    <label>
      <input type="checkbox" class="px-2" (change)="addMealForOrder(meal)">
      {{meal.name}}
    </label>
  </div>
</div>

<div class="btn btn-info"
     (click)="makeOrder()">
  Make order
</div>
