<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary border-0" [routerLink]="['make-order']">Make order</button>
  <button type="button" class="btn btn-primary border-0" [routerLink]="['new-meal']">Add own meal</button>
</div>

<app-loading *ngIf="!meals"></app-loading>

<h3 class="pl-3">Restaurant meal menu:</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let meal of meals">
      <td>{{ meal.id }}</td>
      <td>{{ meal.name }}</td>
      <td>{{ meal.price }}</td>
      <td>
        <div class="btn-group-vertical">
          <button class="btn btn-info" [routerLink]="['meal', meal.id]">Details</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
