@{
    ViewData["Title"] = "Main menu";
}

<h1>Choose what to do:</h1>
<div>
    <div class="btn-group-vertical">
        <button class="btn btn-info menu_btn my-3"
                onclick="location.href='@Url.Action("ShowMenu", "Meal")'">
            Show menu
        </button>
        <button class="btn btn-info menu_btn my-3"
                onclick="location.href='@Url.Action("AddMeal", "Meal")'">
            Add own meal
        </button>
        <button class="btn btn-info menu_btn my-3"
                onclick="location.href='@Url.Action("MakeOrder", "Order")'">
            Make order
        </button>
        <button class="btn btn-info menu_btn my-3"
                onclick="location.href='@Url.Action("GetAllOrders", "Order")'">
            Get orders list
        </button>
    </div>
</div>